@model Article

@{
    string newImageLink = Model.ImageLink.Replace("images", "images-sm");
    string newImageLink2 = Model.ImageLink.Replace("images", "images-md");
}

<a class="card mb-4 w-100 hoverable unlink c-link-hover-container" asp-controller="News" asp-action="Article" asp-route-id="@Model.Id">
    
    @{
        if ((int)ViewData["imgSize"] > 0)
        {
            <img class="card-img-top" src="@newImageLink" alt="@Model.Headline" >
        }
        else
        {
            <img class="card-img-top" src="@newImageLink2" alt="@Model.Headline" >
        }
    }

    <div class="card-body">
        <h5 class="card-title c-link-hover">@Model.Headline</h5>
        <p class="card-text">@Model.ContentSummary</p>
    </div>
    <div class="card-footer text-muted">
        <span>Date: @Model.PublishedDate.ToShortDateString()</span>
        <span>Views: @Model.Views</span>
        <span>Likes: @Model.Likes</span>

        <span>Category: @Model.Category.Name</span>      

    </div>
</a>

<script type="text/javascript">
  
    function LoadArticle(id) {
        let cUrl = '@Url.Content("/News/Article/")';
        window.location.href = cUrl + id;
    }
    
</script>