@model CNewsProject.Models.DataBase.Article

<div class="card mb-4 w-100" asp-controller="News" asp-action="Article">
    <img class="card-img-top" src="@Model.ImageLink" alt="@Model.Headline">
    <div class="card-body">
        <h5 class="card-title">@Model.Headline</h5>
        <p class="card-text">@Model.ContentSummary</p>
        

    </div>
    <div class="card-footer text-muted">
        <span>Date: @Model.PublishedDate.ToShortDateString()</span>
        <span>Views: @Model.Views</span>
        <span>Likes: @Model.Likes</span>
        <span>Category: @Model.Category.Name</span>
    </div>
</div>