@{
    // This keeps track of which action and controller the User is currently at!
    string currentAction = ViewContext.RouteData.Values["action"]!.ToString()!.ToLower();
    string currentController = ViewContext.RouteData.Values["controller"]!.ToString()!.ToLower();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CNewsProject</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/CNewsProject.styles.css" asp-append-version="true"/> *@
</head>

<body class="c-body">

@{
    // This makes the Jumbo image ONLY appear on News Index
}
@if (currentAction == "index" && currentController == "news")
{
    <div class="c-nav-hat c-gradient-90 c-container-img-center container-fluid">
        <img class="c-img-jumbo" src="Content/svg/DuckLOGOFinal.svg" alt="It's a rubber duck reading the newspaper on a wave."/>
    </div>
}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark c-gradient-90 c-nav-sticky" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="News" asp-action="Index" asp-fragment="top">
            <img src="/Content/svg/SeaNewsWaveFinal.svg" alt="News Logo" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <partial name="_CategoriesDropdownPartial"/>
                <partial name="_RoleBasedLinksPartial"></partial>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item c-nav-item-hoverable">
                    <a class="nav-link text-light" asp-action="Subscribe" asp-controller="Account">Subscribe</a>
                </li>
                <partial name="_LoginPartial"/>
            </ul>
            <form class="d-flex" role="search" asp-controller="News" asp-action="Search" method="post">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

@{
    // For Debugging Only

    @* <div> *@
    @*     <p>Controller: @currentController</p> *@
    @*     <p>Action: @currentAction</p> *@
    @* </div> *@
}
<div id="top" class="container row m-auto">
    @{
        if (currentController == "news" && currentAction != "economy" && currentAction != "search")
        {
            <main role="main" class="col-md-9 col-12 pb-3 pt-5">
                @RenderBody()
            </main>
            <aside class="col-3 d-none d-md-block pt-5">
                <div id="VCWeather">

                </div><br/>
                <div id="ExchangeVCDiv">
                    @*This Is Now Updated. Only loads data from API if data is old*@
                    <vc:exchange></vc:exchange>
                </div>
                <vc:sidebar-headlines count="5"></vc:sidebar-headlines>
            </aside>
        }
        else
        {
            <main role="main" class="col-12 pb-3 pt-5">
                @RenderBody()
            </main>
        }
    }
    
</div>
@* <div class="fixed-bottom d-none d-md-block" style="z-index: 1"> *@
@*     &copy; @DateTime.Now.Year - CNewsProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@* </div> *@
<audio hidden id="mumsaudio" controls="controls">
    <source src="~/content/audio/mums.mp3" type="audio/mpeg"/>
</audio>
<partial name="_CookieConsentPartial"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

@{
    string actionToJs = currentAction;
    string ctrlToJs = currentController;

    if (ctrlToJs != "news")
        actionToJs = "NoAction";
}

<script type="text/javascript">
		
		console.log("Realised Local JAVASCRIPT");
		document.addEventListener('DOMContentLoaded', function() {
			console.log("Document Loaded");
			LoadWeather("Weather");

            SetSelectedNavActionItem();
            SetSelectedNavCtrlItem();
		});
		

		function SetSelectedNavActionItem(){
		    let elem = "@actionToJs";
		    
		    if (elem !== "NoAction"){
		        elem = @actionToJs;
                elem.style.backgroundColor = 'rgba(255, 255, 255, 25%)';//"#595959";
                elem.style.color = "white";
		    }
		}

        function SetSelectedNavCtrlItem(){
            let elem = "@ctrlToJs";

            if (elem !== "NoCtrl"){
                elem = @ctrlToJs;
                elem.style.backgroundColor = 'rgba(255, 255, 255, 25%)';
                elem.style.color = "white";
            }
        }
        

	</script>
</body>
</html>