@model CNewsProject.Models.Api.Weather.WeatherStats

<div class="weather-details">
    <div class="weather-info">
        <p>Latitude: @Model.Latitude</p>
        <p>Longitude: @Model.Longitude</p>
        <p>Timezone: @Model.Timezone</p>
        <p>Elevation: @Model.Elevation m</p>
        <p>Temperature: </p>
        <p> @Model.Hourly.Temperature_2m[DateTime.Now.Hour]°C</p>
    </div>
</div>