@model CNewsProject.Models.ViewModels.NewsVM      

<body>   
    <main>
 
 <section class="main-article">
            <img src="main-article-image.jpg" alt="Main Article Image">
            <h1>HEADLINE - This might take a lot of space like this or something I guess?</h1>
            <p>Summary here - This article is DEFINITELY worth reading so click me click me click me!!!</p>
        </section>
        <aside>
            <div class="card">
                <h2>Weather</h2>
                <partial name="_WeatherPartial" model="@Model.WeatherStats" />                
                
                <div class="weather-icon">☀️</div>
                <p><a href="https://weather.com/sv-SE/weather/today/">Weather</a></p>
                
            </div>
            <div class="card">
                <h2>Exchange rates</h2>
                @* <partial name="_CurrencyExchangeRatesPartial" model="@Model.CurrencyExchangeRate" /> *@

            </div>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>JPY</li>
                    <li>CNY</li>
                    <li>GBP</li>
                </ul>
                <h2><a href="@Url.Action("Local", "News")">Local news</a></h2>
                <h2><a href="@Url.Action("Sweden", "News")">Swedish news</a></h2>
                <h2><a href="@Url.Action("Economy", "News")">Economy news</a></h2>                
            </div>
        </aside>
   @*      <section class="articles">
            @foreach (var article in Model.Articles)
            {
                <partial name="_ArticlePartial" model="article" />
            }
        </section>     *@
    </main>
</body>
</html>
   

