@using CNewsProject.StaticTempData
@using Stripe
@model NLUserSetting

<div>
    @{
        // Vars and Setup

        List<string> authorNames = new();
        List<string> subscribedTo = new();

        var dynAuthorList = ViewBag.authorList;
        foreach (var item in dynAuthorList)
        {
            authorNames.Add(item);
        }

        var dynSubscribedTo = ViewBag.subscribedTo;
        foreach (var item in dynSubscribedTo)
        {
            subscribedTo.Add(item);
        }

        SearchBarSetting authorSearchSetting = new(authorNames, "author", "AddAuthorToSubscribed", "Author", "Add");
    }

    <button id="personalisedSettingsHitBox" class="btn c-hover-pointer c-nonselectable">Personalised News Letter</button>
    <div id="personalisedSettingsTarget" class="c-hidden" style="margin: 10px;">
        <div class="row">
            <form  class="col-4 d-flex" id="newsLetterSettingsForm" name="theFormSoClear" asp-action="UpdateNewsLetterSetting" method="post">

                <div class="newsLetterSettingsBackground">
                    <label for="NewsLetterEnabled" class="col-10">Enable Newsletter?</label>
                    @{
                        if (Model.NewsLetterEnabled)
                        {
                            <input id="NewsLetterEnabled" class="col-1" name="NewsLetterEnabled" checked="checked" type="checkbox" value="true"/>
                        }
                        else
                        {
                            <input id="NewsLetterEnabled" class="col-1" name="NewsLetterEnabled" type="checkbox" value="true"/>
                        }
                    }

                </div>

                <div class="newsLetterSettingsBackground">
                    <label class="col-10" for="Latest">Include Latest News</label>
                    @{
                        if (Model.Latest)
                        {
                            <input id="Latest" class="col-1" name="Latest" type="checkbox" checked="checked" value="true"/>
                        }
                        else
                        {
                            <input id="Latest" class="col-1" name="Latest" type="checkbox" value="true"/>
                        }
                    }
                </div>
                <div class="newsLetterSettingsBackground">
                    <label class="col-10" for="Popular">Include Popular News</label>
                    @{
                        if (Model.Popular)
                        {
                            <input id="Popular" class="col-1" name="Popular" type="checkbox" checked="checked" value="true"/>
                        }
                        else
                        {
                            <input id="Popular" class="col-1" name="Popular" type="checkbox" value="true"/>
                        }
                    }
                </div>

                <div class="newsLetterSettingsBackground">
                    <h6 style="font-weight: bold; margin-top: 3px;">
                        Included Categories:
                    </h6>
                </div>

                <input id="categoryIdsInput" type="hidden" asp-for="CategoryIds" value=""/>
                <div>
                    @{
                        Dictionary<string, int> makeShitHappen = new() { { "Local", 1 }, { "Economy", 2 }, { "Sport", 3 }, { "Sweden", 4 }, { "World", 5 } };
                        foreach (KeyValuePair<string, int> kvp in makeShitHappen)
                        {
                            string datId = "datId" + kvp.Key;
                            if (Model.CategoryIds.Contains(kvp.Value))
                            {
                                <div class="newsLetterSettingsBackground">
                                    <label for="@datId" class="col-10">@kvp.Key</label><input type="checkbox" id="@datId" checked="checked" class="ThisClassIsPurelyForCategoryIds col-1" value="@kvp.Value"/>
                                </div>
                            }
                            else
                            {
                                <div class="newsLetterSettingsBackground">
                                    <label for="@datId" class="col-10">@kvp.Key</label>
                                    <input type="checkbox" id="@datId"
                                           class="ThisClassIsPurelyForCategoryIds col-1"
                                           value="@kvp.Value"/>
                                </div>
                            }
                        }
                    }
                </div>
                <div id="authorNamesHitBox" class="c-hover-pointer c-nonselectable">
                    <h4 style="font-weight: bold;">Subscribed Authors</h4>
                </div>
                <div id="authorNamesTarget">
                    <partial name="_searchBarWithSuggestionsPartial" model="authorSearchSetting"/>
                    <div id="authorNamesContainer" class="col-7" style="margin-left: 10px;">
                    </div>
                    <input type="hidden" id="returnToAuthorArray"/>
                </div>

                <br/>
                <button class="btn btn-primary" id="theOneAndOnylButton">Update</button>
            </form>
        </div>
    </div>
</div>


<script src="/js/cscripts.js"></script>
<script type="text/javascript">
    
    AddToggleableElementId("personalisedSettingsHitBox","personalisedSettingsTarget");
    AddToggleableElementId("authorNamesHitBox","authorNamesTarget");
        
    document.addEventListener("DOMContentLoaded", function () {
    
        const inputBox = document.getElementById('@authorSearchSetting.InputFieldId');
        const inputButton = document.getElementById('@authorSearchSetting.ButtonId');
        const returnToArray = document.getElementById('returnToAuthorArray');
        const form = document.getElementById("newsLetterSettingsForm");
        const button = document.getElementById('theOneAndOnylButton');
        
        form.addEventListener('submit', function(event){
            event.preventDefault();
            console.log("Shit happened");
            let catIdsArr=[];
            document.querySelectorAll(".ThisClassIsPurelyForCategoryIds:checked").forEach(function (elem){
                catIdsArr.push(elem.value);
            });
               
            document.getElementById("categoryIdsInput").value = StringifyArrayValues(catIdsArr);
            
            
            let AuthorValues = GetAuthorDivValues();
            if (AuthorValues !== "NO AUTHORS"){
                console.log(AuthorValues);
            }
            
            const data = new FormData(event.target);
            let formJSON = Object.fromEntries(data.entries());
            formJSON = JSON.stringify(formJSON);
            
            console.log(formJSON);
            
            AjaxUpdateNewsLetterSetting(formJSON, AuthorValues);
        })
            
        let subscribedAuthors = @Html.Raw(Json.Serialize(@subscribedTo));
        let lastOddOrEven = 1;
        if (subscribedAuthors[0] !== "NO!"){
            lastOddOrEven = CreateAuthorDivs("authorNamesContainer", subscribedAuthors);
        }
        
        function submitHandle(event) {
            
            let catIdsArr=[];
            document.querySelectorAll(".ThisClassIsPurelyForCategoryIds:checked").forEach(function (elem){
                catIdsArr.push(elem.value);
            });
               
            document.getElementById("categoryIdsInput").value = StringifyArrayValues(catIdsArr);
            
            
            let AuthorValues = GetAuthorDivValues();
            if (AuthorValues !== "NO AUTHORS"){
                console.log(AuthorValues);
            }
            
            const data = new FormData(Event.target);
            let formJSON = Object.fromEntries(data.entries());
            formJSON = JSON.stringify(formJSON);
            
            console.log(formJSON);
            
            AjaxUpdateNewsLetterSetting(formJSON, AuthorValues);
        }
        
        // SUBMIT HEEEEEEEEEEEEERRRRRRRRREEEEEEEEEEE
        
    
        
        
        // END OF SUBMIT
        
        returnToArray.addEventListener('JSValueChange', function(){
            @{@authorSearchSetting.JsArrayName}.push(this.value);
        });

        inputBox.addEventListener('keydown', function (e) {
            if (e.key === "Enter") {
                AddAuthorToSubscribed(inputBox);
            }
        });
        
        inputButton.addEventListener('click', function (){
            AddAuthorToSubscribed(inputBox);
        });

        function AddAuthorToSubscribed(inputElement){
            
            let stefansMindBeAtEase = document.getElementById("authorNamesContainer").getElementsByTagName("input")[0];
            if (stefansMindBeAtEase === undefined){lastOddOrEven = 1;}
            
            let inputValue = inputElement.value;

            if (arrayContains(@{@authorSearchSetting.JsArrayName}, inputValue)){
                @{@authorSearchSetting.JsArrayName} = @{@authorSearchSetting.JsArrayName}.filter(function (val) {
                    return val !== inputValue;
                });
                
                inputBox.value = "";
                
                lastOddOrEven = CreateSingleAuthorDiv("authorNamesContainer", inputValue);
                document.getElementById('@authorSearchSetting.InputFieldId').innerHTML = "";
            }
        }
    });
</script>