@model Article


<div class="bg-black bg-opacity-10">

    <img width="400" src="@Model.ImageLink" />

    <h5>@Model.ContentSummary</h5>

    <h1>@Model.Headline</h1>
    <h6>Published: @Model.WrittenDate Will be updated on Publish</h6>

    <h6>@Model.Content</h6>

    <br />
    <h5>Written by: @Model.AuthorUserName</h5>
</div>


