
@model WeatherStats


@{
    WeatherStats stats = new();

    //Parameter para = stats.timeSeries

    // TempStat temperature = 
    String hourMinute = DateTime.Now.ToString("yyyy-MM-dd HH:00:00");
    DateTime testTime = Convert.ToDateTime(hourMinute);
    //DateTime testTime = Convert.ToDateTime("2024-08-09 17:00:00");
    Parameter temperature = Model.timeSeries.FirstOrDefault(ts => ts.validTime == testTime).parameters.FirstOrDefault(p => p.name == "t");
}

<div class="weather-details">
    <div class="weather-info">
        <div class="card">
        <h3>Weather</h3>
        
        <p>Latitude: @Model.geometry.type.Length</p>
        <p>Longitude: @Model.geometry.type</p>
        <p>Timezone: @Model.referenceTime.</p>
        <p>Elevation: @Model.approvedTime.</p>
        <p>Temperature: @temperature.values[0] °C</p> 
        </div>
    </div>
</div>