@model WeatherStats


@{

	WeatherStats stats = new();
	string city = "Stockholm";
	String hourMin = DateTime.Now.ToString("HH:mm");
	String weatherTime = DateTime.Now.ToString("yyyy-MM-dd HH:00:00");
	DateTime testTime = Convert.ToDateTime(weatherTime);
	Parameter temperature = Model.timeSeries.FirstOrDefault(ts => ts.validTime == testTime).parameters.FirstOrDefault(p => p.name == "t");

}

<div class="weather-details">
	<div class="weather-info">
		<div class="card">
			<h3 id="place" >Weather: @Model.NameOfCity</h3>
			<form>
				<div class="mb-3 mt-3">
					<label for=" City" class="form-label">City:</label>
					<input type="text" class="form-label" id="city" placeholder="Enter city" default="@city" />
				</div>
			</form>

			<div>
				<button id="searchcity" onclick="FindNewCity(Search())">Find</button>
			</div>

			@*<p>Latitude: @Model.</p>
			<p>Longitude: @Model.geometry.type</p>
			<p>Timezone: @Model.referenceTime.</p> *@
			<p>Time: @hourMin</p>
			<p>Temperature: @temperature.values[0] °C</p>
			<div class="weather-icon">☀️</div>
			<p><a href="https://www.smhi.se/en/q/Linköping/2694762">Weather SMHI</a></p>
		</div>
	</div>

</div>

<script type="text/javascript">
	function Search() {
		return document.getElementById('city').value;
	}
</script>