@model ArticleLock

<style>
    .padlock {
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 5px 15px;
    }
    
    #likeElement{
        cursor: pointer;
    }
</style>

@{
    if (Model.Access)
    {
        //Vars
        

        string likeSymbol = "/Content/svg/Like/WhiteHeart.svg";

        if (Model.UserLikes.Contains(Model.Article.Id))
        {
            likeSymbol = "/Content/svg/Like/BlueHeart.svg";
        }
       
        // asp-controller="News" asp-action="Article">
        <div class="card mb-4 w-100">
            <img class="card-img-top" src="@Model.Article.ImageLink" alt="@Model.Article.Headline">
            <div class="card-body bg-light">
                <h5 class="card-title">@Model.Article.Headline</h5>
                <span style="color:dimgrey">
                    <span>by @Model.Article.AuthorUserName</span>
                    <span>Date: @Model.Article.PublishedDate.ToShortDateString()</span>
                </span>
                <span class="float-end">
                    <span>Views: @Model.Article.Views</span>
                    <span>Likes: @Model.Article.Likes</span>
                    <img id="likeElement" onclick="FilipsFunktion(@Model.Article.Id)" src="@likeSymbol" width="25"></img>
                </span>
                
            </div>
            <div class="card-body">
                @Html.Raw(@Model.Article.Content)
            </div>
            <div class="card-footer text-muted">
                <span>Category: @Model.Article.Category.Name</span>
                @{
                    if (Model.Roles.Contains("The Publisher") || Model.Roles.Contains("Admin"))
                    {
                        <a asp-controller="ThePublisher" asp-action="TakeDown" class="float-end btn btn-outline-danger">Take down article</a>
                    }
                }
                
            </div>
        </div>
    }
    else
    { 
        <div class="card mb-4 w-100 hoverable">
            <img class="card-img-top" src="@Model.Article.ImageLink" alt="@Model.Article.Headline">
            <div class="card-body">
                <h5 class="card-title">@Model.Article.Headline</h5>
                <span style="color:dimgrey">
                    <span>by @Model.Article.AuthorUserName</span>
                    <span>Date: @Model.Article.PublishedDate.ToShortDateString()</span>
                </span>
                <span class="float-end">
                    <span>Views: @Model.Article.Views</span>
                    <span>Likes: @Model.Article.Likes</span>
                </span>
                <br />
                <br />
                <div class="padlock">
                    <partial name="_PadLockPartial"/>
                </div>
            </div>
            <div class="card-footer text-muted">
                <span>Category: @Model.Article.Category.Name</span>
            </div>
        </div>
    }
}