@model ArticleLock

@{
    if (Model.Access)
    {
        //Vars

        string btnColour = "btn-outline-primary";
        string btnText = "Like";

        if (Model.UserLikes.Contains(Model.Article.Id))
        {
            btnColour = "btn-primary";
            btnText = "Unlike";
        }
        // asp-controller="News" asp-action="Article">
        <div class="card mb-4 w-100 hoverable">
            <img class="card-img-top" src="@Model.Article.ImageLink" alt="@Model.Article.Headline">
            <div class="card-body">
                <h5 class="card-title">@Model.Article.Headline</h5>
                <span style="color:dimgrey">
                <span>by @Model.Article.AuthorUserName</span>
                <span>Date: @Model.Article.PublishedDate.ToShortDateString()</span>
                </span>
                <span class="float-end">
                <span>Views: @Model.Article.Views</span>
                    <span>Likes: @Model.Article.Likes</span>
                    <button class="btn @btnColour" onclick="FilipsFunktion(@Model.Article.Id)">@btnText</button>
                </span>
                <br />
                <br />
                <p class="card-text">@Model.Article.Content</p>
            </div>
            <div class="card-footer text-muted">
                <span>Category: @Model.Article.Category.Name</span>
                
            </div>
        </div>
    }
    else

    { 
        <p>You must be registered and subscribed to read more!</p>
        <div>
            <img src="@Model.Article.ImageLink" alt="@Model.Article.Headline" />
            <div>
                <h5>@Model.Article.Headline</h5>
                <p>@Model.Article.ContentSummary</p>
                <a href="@Url.Action("Detials", "News", new {id = Model.Article.Id})" class="btn btn-success">Read More</a>
            </div>

        </div>
    }
}